body {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Courier New, Arial, sans-serif;

    background-color: #F5F5DC;
}

.header {
    font-size: 0.9em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    text-align: center;
    background: linear-gradient(to right, #00BFFF, #1E90FF);
    color: white;
    box-shadow: 0 0 0.6em black;
}

.search-area {
    margin-top: 6em;
    margin-bottom: 2em;
    width: 55%;
}

.search-area form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.search-area form input {
    width: 85%;
    border: solid 2.5px black;
    border-radius: 5px;
    height: 2em;
    font-size: 0.9em;
    background-color: #FFFAFA;
    cursor: pointer;
}

.search-area form button {
    border: solid 2.5px #1C1C1C;
    background-color: #1C1C1C;
    color: white;
    font-size: 0.9em;
    border-radius: 4px;
    cursor: pointer;
}

.search-area form button:hover{
    box-shadow: 0 0 0 1px #1C1C1C;
}

.list-box {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin: 4px;
}

.task {
    padding: 4px;
    margin: 8px;
    border: solid 2px #1C1C1C;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
    border-radius: 4px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.task input[type="checkbox"]{
    margin-right: 1.0em;
    width: 1.4em;
    height: 1.4em;
    cursor: pointer;
}

.space{
    margin: 4em;
    color: #696969;
}